{%extends 'base.html'%}

{%  block head %}
{% endblock %}

{% block body%}

<div class="solver">

    <div class="face-container" id = "cube">
   
        <div class="wrapper white-face ">
            <div class="face" style="background-color:white" id="U1"></div>
            <div class="face" style="background-color:white" id="U2"></div>
            <div class="face" style="background-color:white" id="U3"></div> 
            <div class="face" style="background-color:white" id="U4"></div>
            <div class="face" style="background-color:white" id="U5"></div>
            <div class="face" style="background-color:white" id="U6"></div>
            <div class="face" style="background-color:white" id="U7"></div>
            <div class="face" style="background-color:white" id="U8"></div>
            <div class="face" style="background-color:white" id="U9"></div>
        </div>
    
    
        <div class="wrapper orange-face">
            <div class="face " style="background-color:white" id="L1"></div>
            <div class="face " style="background-color:white" id="L2"></div>
            <div class="face " style="background-color:white" id="L3"></div> 
            <div class="face " style="background-color:white" id="L4"></div>
            <div class="face " style="background-color:orange" id="L5"></div>
            <div class="face " style="background-color:white" id="L6"></div>
            <div class="face " style="background-color:white" id="L7"></div>
            <div class="face " style="background-color:white" id="L8"></div>
            <div class="face " style="background-color:white" id="L9"></div>
        </div>
    
        <div class="wrapper green-face">
            <div class="face" style="background-color:white" id="F1"></div>
            <div class="face" style="background-color:white" id="F2"></div>
            <div class="face" style="background-color:white" id="F3"></div> 
            <div class="face" style="background-color:white" id="F4"></div>
            <div class="face" style="background-color:green" id="F5"></div>
            <div class="face" style="background-color:white" id="F6"></div>
            <div class="face" style="background-color:white" id="F7"></div>
            <div class="face" style="background-color:white" id="F8"></div>
            <div class="face" style="background-color:white" id="F9"></div>
        </div>
        
        <div class="wrapper red-face">
            <div class="face" style="background-color:white" id="R1"></div>
            <div class="face" style="background-color:white" id="R2"></div>
            <div class="face" style="background-color:white" id="R3"></div> 
            <div class="face" style="background-color:white" id="R4"></div>
            <div class="face" style="background-color:red" id="R5"></div>
            <div class="face" style="background-color:white" id="R6"></div>
            <div class="face" style="background-color:white" id="R7"></div>
            <div class="face" style="background-color:white" id="R8"></div>
            <div class="face" style="background-color:white" id="R9"></div>
        </div>
        
        <div class="wrapper blue-face">
            <div class="face" style="background-color:white" id="B1"></div>
            <div class="face" style="background-color:white" id="B2"></div>
            <div class="face" style="background-color:white" id="B3"></div> 
            <div class="face" style="background-color:white" id="B4"></div>
            <div class="face" style="background-color:blue" id="B5"></div>
            <div class="face" style="background-color:white" id="B6"></div>
            <div class="face" style="background-color:white" id="B7"></div>
            <div class="face" style="background-color:white" id="B8"></div>
            <div class="face" style="background-color:white" id="B9"></div>
        </div>
    
        <div class="wrapper yellow-face">
            <div class="face" style="background-color:white" id="D1"></div>
            <div class="face" style="background-color:white" id="D2"></div>
            <div class="face" style="background-color:white" id="D3"></div> 
            <div class="face" style="background-color:white" id="D4"></div>
            <div class="face" style="background-color:yellow" id="D5"></div>
            <div class="face" style="background-color:white" id="D6"></div>
            <div class="face" style="background-color:white" id="D7"></div>
            <div class="face" style="background-color:white" id="D8"></div>
            <div class="face" style="background-color:white" id="D9"></div>
        </div>
        
    </div>
    
    <div class="right">
        <div class="color-pallette">
            <div class="color-pallette_face" style="background-color:red"></div>
            <div class="color-pallette_face" style="background-color:blue"></div>
            <div class="color-pallette_face" style="background-color:white"></div>
            <div class="color-pallette_face" style="background-color:yellow"></div>
            <div class="color-pallette_face" style="background-color:green"></div>
            <div class="color-pallette_face" style="background-color:orange"></div>
    
        </div>
        
        <button class = "solveButton">SOLVE!</button>
    </div>
    
    

</div>

    

{% endblock %}
