{%extends 'base.html'%}

{%  block head %}
{% endblock %}

{% block body%}

<div style="margin-top: 15px">
    <h1 class="text-center">Instruction</h1>
    <br>
    <h5 class = "text-center">Using the color pallette, set up the pattern of your Rubik's Cube, we will generate a solution in less than or equal to 20 steps</p>
    <h5 class = "text-center" style="color: red">*** Please Make Sure You Set Up The Adjacent Edges In The Right Order ***</h5></p>

</div>

<div class="solver" >

    <div class="face-container" id = "cube">
   
        <div class="wrapper white-face ">
            <div class="face" style="background-color:white" id="0"></div>
            <div class="face" style="background-color:white" id="1"></div>
            <div class="face" style="background-color:white" id="2"></div> 
            <div class="face" style="background-color:white" id="3"></div>
            <div class="face" style="background-color:white" id="4"></div>
            <div class="face" style="background-color:white" id="5"></div>
            <div class="face" style="background-color:white" id="6"></div>
            <div class="face" style="background-color:white" id="7"></div>
            <div class="face" style="background-color:white" id="8"></div>
        </div>
    
    
        <div class="wrapper orange-face">
            <div class="face " style="background-color:white" id="0"></div>
            <div class="face " style="background-color:white" id="1"></div>
            <div class="face " style="background-color:white" id="2"></div> 
            <div class="face " style="background-color:white" id="3"></div>
            <div class="face " style="background-color:orange" id="4"></div>
            <div class="face " style="background-color:white" id="5"></div>
            <div class="face " style="background-color:white" id="6"></div>
            <div class="face " style="background-color:white" id="7"></div>
            <div class="face " style="background-color:white" id="8"></div>
        </div>
    
        <div class="wrapper green-face">
            <div class="face" style="background-color:white" id="0"></div>
            <div class="face" style="background-color:white" id="1"></div>
            <div class="face" style="background-color:white" id="2"></div> 
            <div class="face" style="background-color:white" id="3"></div>
            <div class="face" style="background-color:green" id="4"></div>
            <div class="face" style="background-color:white" id="5"></div>
            <div class="face" style="background-color:white" id="6"></div>
            <div class="face" style="background-color:white" id="7"></div>
            <div class="face" style="background-color:white" id="8"></div>
        </div>
        
        <div class="wrapper red-face">
            <div class="face" style="background-color:white" id="0"></div>
            <div class="face" style="background-color:white" id="1"></div>
            <div class="face" style="background-color:white" id="2"></div> 
            <div class="face" style="background-color:white" id="3"></div>
            <div class="face" style="background-color:red" id="4"></div>
            <div class="face" style="background-color:white" id="5"></div>
            <div class="face" style="background-color:white" id="6"></div>
            <div class="face" style="background-color:white" id="7"></div>
            <div class="face" style="background-color:white" id="8"></div>
        </div>
        
        <div class="wrapper blue-face">
            <div class="face" style="background-color:white" id="0"></div>
            <div class="face" style="background-color:white" id="1"></div>
            <div class="face" style="background-color:white" id="2"></div> 
            <div class="face" style="background-color:white" id="3"></div>
            <div class="face" style="background-color:blue" id="4"></div>
            <div class="face" style="background-color:white" id="5"></div>
            <div class="face" style="background-color:white" id="6"></div>
            <div class="face" style="background-color:white" id="7"></div>
            <div class="face" style="background-color:white" id="8"></div>
        </div>
    
        <div class="wrapper yellow-face">
            <div class="face" style="background-color:white" id="0"></div>
            <div class="face" style="background-color:white" id="1"></div>
            <div class="face" style="background-color:white" id="2"></div> 
            <div class="face" style="background-color:white" id="3"></div>
            <div class="face" style="background-color:yellow" id="4"></div>
            <div class="face" style="background-color:white" id="5"></div>
            <div class="face" style="background-color:white" id="6"></div>
            <div class="face" style="background-color:white" id="7"></div>
            <div class="face" style="background-color:white" id="8"></div>
        </div>
        
    </div>
    
    <div class="right">
        <div class="color-pallette">
            <div class="color-pallette_face" style="background-color:red"></div>
            <div class="color-pallette_face" style="background-color:blue"></div>
            <div class="color-pallette_face" style="background-color:white"></div>
            <div class="color-pallette_face" style="background-color:yellow"></div>
            <div class="color-pallette_face" style="background-color:green"></div>
            <div class="color-pallette_face" style="background-color:orange"></div>
    
        </div>
        
        <button class = "solveButton" onclick="solver()">SOLVE!</button>
    </div>
    
    


</div>


<div class= "text-center" style="margin-top: 15px" id="container">

</div>

    

{% endblock %}
