{%extends 'base.html'%}

{%  block head %}
{% endblock %}

{% block body%}

<div class="solver">

    <div class="face-container" id = "cube">
   
        <div class="wrapper white-face ">
            <div class="face white-bg"></div>
            <div class="face white-bg"></div>
            <div class="face white-bg"></div> 
            <div class="face white-bg"></div>
            <div class="face white-bg"></div>
            <div class="face white-bg"></div>
            <div class="face white-bg"></div>
            <div class="face white-bg"></div>
            <div class="face white-bg"></div>
        </div>
    
    
        <div class="wrapper orange-face">
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div> 
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div>
            <div class="face orange-bg"></div>
        </div>
    
        <div class="wrapper green-face">
            <div class="face green-bg"></div>
            <div class="face green-bg"></div>
            <div class="face green-bg"></div> 
            <div class="face green-bg"></div>
            <div class="face green-bg"></div>
            <div class="face green-bg"></div>
            <div class="face green-bg"></div>
            <div class="face green-bg"></div>
            <div class="face green-bg"></div>
        </div>
        
        <div class="wrapper red-face">
            <div class="face red-bg"></div>
            <div class="face red-bg"></div>
            <div class="face red-bg"></div> 
            <div class="face red-bg"></div>
            <div class="face red-bg"></div>
            <div class="face red-bg"></div>
            <div class="face red-bg"></div>
            <div class="face red-bg"></div>
            <div class="face red-bg"></div>
        </div>
        
        <div class="wrapper blue-face">
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div> 
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div>
            <div class="face blue-bg"></div>
        </div>
    
        <div class="wrapper yellow-face">
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div> 
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div>
            <div class="face yellow-bg"></div>
        </div>
        
    </div>
    
    <div class="color-pallette">
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
        <div class="square"></div>
    </div>
</div>

    

{% endblock %}
